<html>
<head>
  <title>Thank You</title>
  <meta property="og:url"           content="http://www.nashikfloods.com/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Nashik Floods Analysis" />
	<meta property="og:description"   content="Gathering Images Of Nashik Floods For Better Analysis" />
	<meta property="og:image"         content="http://images.indianexpress.com/2016/07/nashik-rain-759.jpg" />
</head>
<body>
<style>

{ margin: 0; padding: 0; }

html {
        background: url('http://images.indianexpress.com/2016/07/nashik-rain-759.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

div {
    width: 800px;
    height: 200px;
    position: relative;
    top:80px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
<div>


  <p>
    Thank You For Your Submission! Your Images Will Help Us Analyse Nashik Floods Better
  </p><br />
  <a href="/">Submit More Photos</a>
  <div class="fb-share-button"
		data-href="http://www.nashikfloods.com/"
		data-layout="button_count"
    data-mobile_iframe="true"
    data-size="large">
	</div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Submitting #NashikFloods photos here can help tackle future situations" data-via="1geek0" data-related="NashikNews" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->

</div>
</body>
</html>
